<!-- Main Sidebar Container -->
<aside th:fragment="sideMenu" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/index}" class="brand-link">
      <img th:src="@{/dist/img/AdminLTELogo.png}" alt="Cubes School Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Cubes School</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

			<li>
				<a th:href="@{/dashboard}">Dashboard</a>
				<div>
					USER: <span th:text="${#authentication?.name}"></span><br>
					ROLES: <span th:text="${#authentication?.authorities}"></span>
				</div>
			</li>
			   <li class="nav-item has-treeview" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
			               <a href="#" class="nav-link">
			                 <i class="nav-icon far fa-plus-square"></i>
			                 <p>
			                   Users
			                   <i class="right fas fa-angle-left"></i>
			                 </p>
			               </a>
			               <ul class="nav nav-treeview">
			                 <li class="nav-item">
			                   <a th:href="@{/admin/users}" class="nav-link">
			                     <i class="far fa-circle nav-icon"></i>
			                     <p>Users list</p>
			                   </a>
			                 </li>
			                 <li class="nav-item">
			                   <a th:href="@{/admin/users/add}" class="nav-link">
			                     <i class="far fa-circle nav-icon"></i>
			                     <p>Add User</p>
			                   </a>
			                 </li>
			               </ul>
			             </li>
			   
			   
			   
          <li class="nav-item has-treeview" th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''MANAGER'')')}">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-plus-square"></i>
              <p>
				  Technicians
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/technicians}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Technicians list</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/technicians/add}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Technician</p>
                </a>
              </li>
            </ul>
          </li>
		  
		  
		  
		  <li class="nav-item has-treeview" th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''MANAGER'')')}">
		              <a href="#" class="nav-link">
		                <i class="nav-icon far fa-plus-square"></i>
		                <p>
							Tasks
		                  <i class="right fas fa-angle-left"></i>
		                </p>
		              </a>
		              <ul class="nav nav-treeview">
		                <li class="nav-item">
		                  <a th:href="@{/tasks}" class="nav-link">
		                    <i class="far fa-circle nav-icon"></i>
		                    <p>Tasks list</p>
		                  </a>
		                </li>
		                <li class="nav-item">
		                  <a th:href="@{/tasks/add}" class="nav-link">
		                    <i class="far fa-circle nav-icon"></i>
		                    <p>Add Task</p>
		                  </a>
		                </li>
		              </ul>
		            </li>

			<li class="nav-item has-treeview" th:if="${#authorization.expression('hasAnyRole(''ADMIN'',''MANAGER'')')}">
				<a href="#" class="nav-link">
					<i class="nav-icon far fa-plus-square"></i>
					<p>
						Contracts
						<i class="right fas fa-angle-left"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a th:href="@{/contracts}" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Tasks list</p>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/contracts/add}" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Add Task</p>
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-item has-treeview" th:if="${#authorization.expression('hasRole(''TECHNICIAN'')')}">
				<a href="#" class="nav-link">
					<i class="nav-icon far fa-plus-square"></i>
					<p>
						My task
						<i class="right fas fa-angle-left"></i>
					</p>
				</a>
				<ul class="nav nav-treeview">
					<li class="nav-item">
						<a th:href="@{/my-tasks}" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Tasks list</p>
						</a>
					</li>
					<li class="nav-item">
						<a th:href="@{/my-contracts}" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>My Contracts</p>
						</a>
					</li>
				</ul>
			</li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>